/*medium*/
@font-face {
    font-family: CODE;
    src: url(../assets/fonts/CODE-Bold.woff);
		font-weight: 500;
    font-style: normal;
}
/*light*/
@font-face {
    font-family: CODE;
    src: url(../assets/fonts/CODE-Light.woff);
    font-weight: 300;
    font-style: normal;
}
/* medium */
@font-face {
    font-family: source-han-sans;
    src: url(../assets/fonts/SourceHanSansJP-Medium.woff);
		font-weight: 500;
    font-style: normal;
}

html{
	width: 100%;
	font-family: CODE;
	font-weight: 500;
}

body {
	width: 100%;
	background-image: url(../img/body_base.svg);
	background-repeat: repeat;
	-webkit-background-size: 25%;
	background-size: 25%;
	background-position: 66.66% top;
	background-attachment: fixed;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



/* clearfix */

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

/* flexbox */

.flex {
  display: -webkit-flex;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-flex;
  display: inline-flex;
}




.container {
	width: 1000px;
}



a,a:hover,a:active,a:visited {
	color: #000;
	text-decoration: none;
}

ul li a {
	display: block;
	width: 100%;
	height: 100%;
}

span {
	display: inline-block;
	padding: 3px 10px 0 10px;
	color: #fff;
	line-height: 28px;
}




/* header */

header {
	width: 100%;
	height: 60px;
	padding: 0 35px;
	background: #fff;
	position: fixed;
	z-index: 999;
	-webkit-justify-content: space-between;
  justify-content: space-between;
}

header .logo {
	width: 60px;
}

header nav ul li {
	height: 75px;
	padding: 0 26px;
	font-size: 24px;
	letter-spacing: 2px;
	display: inline-block;
	list-style: none;
}


header nav ul li:after {
	display: block;
	content: "";
	margin: -20px auto 0;
	width: 0;
	-webkit-transition: width .4s cubic-bezier(.19,0.3,.22,1);
	        transition: width .4s cubic-bezier(.19,0.3,.22,1);
}

nav ul li:nth-child(1)::after {
	background: #fff100;
}
nav ul li:nth-child(2)::after {
	background: #00a0e9;
}
nav ul li:nth-child(3)::after {
	background: #e4007f;
}
nav ul li:nth-child(4)::after {
	background: #fff100;
}
nav ul li:nth-child(5)::after {
	background: #00a0e9;
}

nav ul li.all:hover:after {
	background: -webkit-linear-gradient(#00a1e9 0%, #00a1e9 23%, #000074 23%, #000074 41%, #e4007f 41%, #e4007f 71%, #fff100 71%, #fff100 100%);
	background: -o-linear-gradient(#00a1e9 0%, #00a1e9 23%, #000074 23%, #000074 41%, #e4007f 41%, #e4007f 71%, #fff100 71%, #fff100 100%);
	background: linear-gradient(#00a1e9 0%, #00a1e9 23%, #000074 23%, #000074 41%, #e4007f 41%, #e4007f 71%, #fff100 71%, #fff100 100%);
}

nav ul li.all:hover a {
	color: #fff;
}

header nav ul li:hover:after {
	display: block;
	content: "";
	width: 100%;
	height: 5px;
	border-radius: 5px;
	background: #000;
}

header nav ul li a {
	display: inline-block;
	height: 65px;
	line-height: 65px;
}






/* main */

main {
	width: 100%;
	position: relative;
}


/* category nav */

nav.category {
	display: flex;
	top: 25vw;
	left: 0;
  right: 0;
	margin: -60px auto;
	width: 80%;
	height: 60px;
	border-top: solid 1px #dedede;
	border-left: solid 1px #dedede;
	border-right: solid 1px #dedede;
	position: absolute;
}

nav.category ul {
	margin: auto;
	height: 100%;
}

nav.category ul li {
	float: left;
	display: block;
	height: 100%;
	font-size:20px;
	letter-spacing: 2px;
	padding: 0 15px;
	line-height: 60px;
}

nav.category ul li:after {
	content: "";
	bottom: 0;
	display: block;
	margin: -3px 0;
	width: 100%;
	height: 3px;
	-webkit-transition: all .25s cubic-bezier(.19,0.3,.22,1);
	        transition: all .25s cubic-bezier(.19,0.3,.22,1);
	z-index: -99;
	position: relative;
}

nav.category ul li:hover:after {
	height: 60px;
	margin: -60px 0;
}


/* section */


.title {
	top: 100px;
	position: absolute;
	display: inline-block;
	width: 100%;
	font-size: 36px;
	background: #fff;
	letter-spacing: 13px;
	text-align: center;
	z-index: 9;
}

.title:after {
	position: absolute;
	display: block;
	content: "";
	margin: -30px 0 0 0;
	width: 100%;
	height: 1px;
	background: #dedede;
	z-index: 0;
}

.title-info {
	top: 160px;
	left: 0;
	right: 0;
	display: inline-block;
	font-size:10px;
	margin: 10px 0 0 0;
	color: #aaa;
	letter-spacing: 10px;
	text-align: center;
	position: absolute;
}




.content {
	top: 25vw;
	width: 80%;
	margin: auto;
	padding: 50px;
	background: #fff;
	font-size: 18px;
	font-weight: 100;
	text-align: left;
	position: relative;
}

.content h3 {
	padding: 40px 0;
	font-size: 24px;
}

.content h3:before {
	display: block;
	content: "";
	float: left;
	width: 50px;
	height: 50px;
	margin: -7px 15px 0 0;
	background-image: url(../img/h3_img.png);
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.content h4 {
	margin: 40px -10px 30px;
	padding: 20px 15px;
	font-size:20px;
	background: #f8f8f8;
	border: solid 1px #aeaeae;
}

.content p {
	line-height: 35px;
}

.content .cyan {
	background: #00a1e9;
}
.content .magenta {
	background: #e4007f;
}


.article-list ul{
	display: flex;
	-webkit-flex-direction: row;
  flex-direction:         row;
	-webkit-justify-content: space-between;
  justify-content:         space-between;
	-webkit-flex-wrap: wrap;
  flex-wrap:         wrap;
}

.article-list ul li {
	display: block;
	width: 48.6%;
	height: 20vw;
	margin: 20px 0;
	border: solid 1px #dedede;
	color: #626262;
	font-family: source-han-sans;
	list-style: none;
	overflow: hidden;
	-webkit-transition: all .4s cubic-bezier(.19,0.3,.22,1);
	        transition: all .4s cubic-bezier(.19,0.3,.22,1);
}

.article-list ul li:first-child {
	width: 80%;
	height: 32vw;
	margin: 20px auto;
}


.article-list ul li img {
	width: 100%;
	height: 100%;
	transform: scale(1.1, 1.1);
	-webkit-transition: all .4s cubic-bezier(.19,0.3,.22,1);
	        transition: all .4s cubic-bezier(.19,0.3,.22,1);
}

.article-list ul li:hover img {
	transform: scale(1.2, 1.2);
}

.article-list ul li .info {
	width: 80%;
	height: 20vw;
	padding: 15px;
	background: rgba(255, 255, 255, 0.85);
	transform: translate(-100%, -100%);
	position: relative;
	-webkit-transition: all .4s cubic-bezier(.19,0.3,.22,1);
	        transition: all .4s cubic-bezier(.19,0.3,.22,1);
}

.article-list ul li:first-child .info {
	width: 100%;
	transform: translate(0, 0);
}

.article-list ul li:hover .info {
	transform: translate(0, -100%);
}

.article-list ul li .info h4 {
	color: #fff;
	text-shadow: 0 0 5px #000;
	transform: translate(100%, 0);
	-webkit-transition: all .4s cubic-bezier(.19,0.3,.22,1);
	        transition: all .4s cubic-bezier(.19,0.3,.22,1);
}

.article-list ul li:first-child .info h4 {
	transform: translate(0, -200%);
}

.article-list ul li:hover .info h4 {
	color: #626262;
	text-shadow: 0 0 0 #fff;
	transform: translate(0, 0);
}

.article-list ul li .info time {
	font-weight: 900;
	font-size: 12px;
	letter-spacing: 3px;
}

.article-list ul li .info p {
	display: block;
	width: 100%;
	height: 50px;
	font-size: 13px;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-list h4 {
	margin: 20px -10px 15px;
	padding: 10px 25px;
	font-size:20px;
	background: transparent;
	border: none;
}


/* article */

.article {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.article>time {
	display: block;
	top: 0;
	left: 0;
	width: 130px;
	height: 130px;
	padding: 10px;
	font-weight: 900;
	letter-spacing: 2px;
	color: #fff;
	background-image: url(../img/time.png);
	background-repeat: none;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
}

.article>h2 {
	display: block;
	margin: 80px 0 50px;
	padding: 0 0 0 50px;
	font-size:30px;
	font-family: source-han-sans;
	letter-spacing: 2px;
	border-bottom: solid 1px #aaa;
}

.article .text-content {
	font-family: source-han-sans;
	letter-spacing: 2px;
}

.article .text-content img {
	display: block;
	width: 80%;
  height: 100%;
	margin: 30px auto;
}

.article .footer {
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
}

.article .footer .share-list {
	display: none;
}

.article .footer .author {
	width: 200px;
	height: 280px;
	margin: 100px 0 0;
	padding: 20px;
	background: #fafafa;
	font-size: 15px;
	text-align: center;
}

.article .footer .author img {
	border-radius: 200px;
}

.article .footer .author h5 {
	margin: 5px 0;
}

.article .footer .author .role {
	font-size: 11px;
  line-height:20px;
}






/* footer */

footer {
	width: 100%;
	height: 400px;
	margin: 40vw 0 0;
	background: #000;
	color: #fff;
	position: relative;
}

footer:before {
	top: 0;
	width: 100%;
	height: 10vw;
	margin: -8vw 0;
	background-image: url(../img/footer-before.png);
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	content: "";
	display: block;
	position: absolute;
}

.footer-content {
	padding: 50px 0 0;
	display: flex;
}

.footer-content .col {
	margin: 0 auto;
}

.footer-content .col ul li {
	margin: 10px 0;
	list-style: none;
	font-size: 15px;
	letter-spacing: 2px;
}

.footer-content .col ul li a {
	color: #fff;
}



@media screen and (max-width: 765px) {

	header {
		padding: 0 25px;
	}


	header nav ul li {
		padding: 0 15px;
	}

	.title {
    top: 82px;
    position: absolute;
    display: inline-block;
    width: 100%;
    font-size: 26px;
    background: #fff;
    letter-spacing: 13px;
    text-align: center;
    z-index: 9;
}

.title:after {
    margin: -20px 0 0 0;
}

.title-info {
    top: 117px;
    left: 0;
    right: 0;
    display: inline-block;
    font-size:10px;
    margin: 10px 0 0 0;
    color: #aaa;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
}

nav.category {
    display: flex;
    top: 211px;
    left: 0;
    right: 0;
    margin: -40px auto;
    width: 95%;
    height: 40px;
    border-top: solid 1px #dedede;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    position: absolute;
}

nav.category ul {
	height: 40px;
}

nav.category ul li {
  display: block;
  height: 100%;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 0 3px;
  line-height: 40px;
}

nav.category ul li a{
	display: block;
}

nav.category ul li:hover:after {
	height: 40px;
	margin: -40px 0;
}

.content {
    top: 212px;
    width: 80%;
    margin: auto;
    padding: 0px;
    background: #fff;
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    position: relative;
}

.article-list ul li {
    display: block;
    width: 100%;
    height: 46vw;
    margin: 20px 0;
    border: solid 1px #dedede;
    color: #626262;
    font-family: source-han-sans;
    list-style: none;
    overflow: hidden;
    -webkit-transition: all .4s cubic-bezier(.19,0.3,.22,1);
    transition: all .4s cubic-bezier(.19,0.3,.22,1);
}

.article-list ul li:first-child {
    width: 100%;
    height: 46vw;
    margin: 20px auto;
}

.article-list h4 {
	margin: 0px -15px 10px;
  padding: 0px 10px;
	font-size: 15px;
}





.article>time {
    display: block;
    top: 0;
    left: 0;
    width: 99px;
    height: 99px;
    font-size: 12px;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
    background-image: url(../img/time.png);
    background-repeat: none;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
}

.article>h2 {
    display: block;
    margin: 87px 0 50px;
    padding: 0 0 17px 0px;
    font-size: 20px;
    font-family: source-han-sans;
    letter-spacing: 2px;
    border-bottom: solid 1px #aaa;
}

.article {
    width: 92%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.content p {
    line-height:30px;
    font-size: 14px;
}

.article .text-content img {
	width: 100%;
}

footer {
	margin: 300px 0 0;
}


}