.page-template-archive {
  section {
    &.contents-top {
      display: flex;
      background: $brand-foundation;
      width: 100%;
      height: 400px;
      .title-container {
        margin: auto auto 0;
        padding: 0 0 32px;
        text-align: center;
        h1 {
          font-size: 40px;
          &::after {
            content: "";
            display: block;
            margin: 16px auto 0;
            width: 64px;
            height: 8px;
            background: $brand-main;
          }
        }
      }
    }
    &.contents-article-list {
      margin: 0 auto;
      width: 1024px;
      @media screen and (max-width: 1024px)  {
        width: 100%;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 24px 0;
        padding: 0;
        li.article-contents {
          width: 327px;
          padding: 24px;
          overflow: hidden;
          @media screen and (max-width: 1024px)  {
            width: 90%;
            margin: auto;
          }
          &:hover {
            background: $brand-foundation;
          }
          .article-contents-image {
            width: 100%;
            height: 274px;
            .article-contents-image-contents {
              width: 100%;
              height: 100%;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
          .article-contents-category {
            display: inline-block;
            background: $brand-main;
            color: #fff;
            padding: 5px 10px 5px 43px;
            position: relative;
            &:before {
              content: "";
              width: 24px;
              height: 24px;
              position: absolute;
              left: 12px;
              margin: auto;
              top: 0;
              bottom: 0;
            }
            &.news {
              &:before {
                background: url('../img/cat-news.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
            &.notice {
              &:before {
                background: url('../img/cat-notice.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
            &.column {
              &:before {
                background: url('../img/cat-column.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
          }
          time {
            padding: 16px 0;
            display: inline-block;
            color: $brand-accent;
          }
          h4 {
            margin: 0;
            font-size: 24px;
            color: $brand-black;
          }
        }
      }
    }
    &.contents-paginate-links {
      margin: 0 auto;
      padding: 48px 0;
      width: 1024px;
      @media screen and (max-width: 1024px)  {
        width: 100%;
      }
      background: $brand-foundation;
      a {
        color: $brand-main;
        background: #fff;
        text-decoration: underline;
      }
      .paginate-links {
        margin: 0 auto;
        text-align: center;
        color: $brand-black;
        .page-numbers {
          padding: 16px;
          margin: -2px;
          &.current {
            background: $brand-accent;
            color: #fff;
          }
        }
      }
      .next,.prev {
        background: $brand-main;
        color: #fff;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
