.post-type-archive {
  section {
    &.contents-top {
      display: flex;
      background: $brand-foundation;
      width: 100%;
      height: 400px;
      .title-container {
        margin: auto auto 0;
        padding: 0 0 32px;
        text-align: center;
        h1 {
          font-size: 40px;
          &::after {
            content: "";
            display: block;
            margin: 16px auto 0;
            width: 64px;
            height: 8px;
            background: $brand-main;
          }
        }
      }
    }
    &.contents-article-list {
      margin: 0 auto;
      width: 1024px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li.article-contents {
          width: 327px;
          padding: 24px;
          overflow: hidden;
          &:hover {
            background: $brand-foundation;
          }
          .article-contents-image {
            width: 100%;
            height: 274px;
            .article-contents-image-contents {
              width: 100%;
              height: 100%;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
          .article-contents-category {
            padding: 16px 0;
            display: inline-block;
            color: $brand-accent;
          }
          time {
            padding: 16px 0;
            display: inline-block;
            color: $brand-accent;
          }
          h4 {
            margin: 0;
            font-size: 24px;
            color: $brand-black;
          }
        }
      }
    }
    &.contents-paginate-links {
      margin: 0 auto;
      padding: 48px 0;
      width: 1024px;
      background: $brand-foundation;
      a {
        color: $brand-black;
        background: #fff;
      }
      .paginate-links {
        margin: 0 auto;
        text-align: center;
        color: $brand-black;
        .page-numbers {
          padding: 8px;
        }
      }
      .next {
        background: $brand-main;
        color: #fff;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
