html,body {
  width: 100%;
  color: $brand-black;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

section {
  font-size: 15px;
  overflow: hidden;
  .contents-wrapper:before {
    display: block;
    left: 0;
    content: "";
    width: $contents-wrapper-margin;
    height: 186px;
    background: #f00;
    position: absolute;
  }
  &.contents-colorscheme-transparent .contents-wrapper:before{
    background: transparent;
  }
  &.contents-colorscheme-white .contents-wrapper:before{
    background: $brand-accent;
  }
  &.contents-colorscheme-brand-accent .contents-wrapper:before{
    background: #fff;
  }
  .contents-wrapper {
    margin: 0 auto;
    width: 1024px;
    font-size: 14px;
    line-height: 30px;
    @media screen and (max-width: 1024px)  {
      width: 100%;
    }
    h2 {
      margin: 0;
      height: 186px;
      position: relative;
      &:before {
        bottom: 30px;
        left: -50px;
        display: block;
        content: "";
        width: 98px;
        height: 44px;
        background: $brand-main;
        position: absolute;
        @media screen and (max-width: 1024px)  {
          width: 70px;
        }
      }
      img {
        display: block;
        left: 90px;
        bottom: 30px;
        height: 44px;
        position: absolute;
        @media screen and (max-width: 1024px)  {
          left: 53px;
        }
      }
    }
    .btn-more {
      margin: 0 0 auto auto;
      width: 265px;
      height: 66px;
      font-size: 20px;
      text-align: center;
      font-weight: 700;
      line-height: 66px;
      color: #fff;
      background: $brand-main;
      transition: $transition-main;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &.contents-top {
    max-height: 600px;
    position: relative;
    @media screen and (max-width: 1024px)  {
      text-align: center;
    }
    .background-image,.attachment-post-thumbnail {
      width: 100%;
      min-width: 1024px;
      height: 100vh;
      position: relative;
      z-index: 0;
      background: url("../img/top-0.jpg") 0% 0% / cover;
      transition: $transition-main;
      @media screen and (max-width: 1024px)  {
        margin: 0vw -100vw;
        min-width: 0;
        width: auto;
        height: 100vh;
      }
    }
    .contents-inner {
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 99;
      .catch-message {
        display: flex;
        bottom: 40px;
        height: 65px;
        background: #fff;
        position: absolute;
        @media screen and (max-width: 1024px)  {
          height: 53px;
        }
        .catch-message-paragraph {
          margin: auto;
          display: block;
          height: 18px;
          margin: 24px;
          @media screen and (max-width: 1024px)  {
            height: 14px;
            margin: 20px 14px;
          }
        }
        .btn-top-message {
          padding: 0 20px;
          line-height: 65px;
          color: #fff;
          background: $brand-main;
          transition: $transition-main;
          &:hover {
            opacity: 0.8;
          }
          @media screen and (max-width: 1024px)  {
            padding: 0 12px;
            width: 117px;
            line-height: 53px;
          }
          &::after {
            display: block;
            content: "";
            background: url(../img/btn-message-path.svg);
          }
        }
      }
    }
  }
  &.contents-article {
    @media screen and (max-width: 1024px)  {
      padding: 0 0 50px;
    }
    .article-list {
      padding: 30px 0;
      @media screen and (max-width: 1024px)  {
        padding: 0;
      }
      ul {
        display: flex;
        padding: 0;
        @media screen and (max-width: 1024px)  {
          display: block;
        }
        li.article-contents {
          display: block;
          margin: 0 32px 0 0;
          width: $top-article-large-list;
          height: $top-article-large-list;
          background: #dadada;
          list-style: none;
          position: relative;
          overflow: hidden;
          @media screen and (max-width: 1024px)  {
            width: 90vw;
            height: 90vw;
            margin: 20px auto 0;
          }
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
          img {
            display: block;
            margin: 0 -50%;
            height: 100%;
            position: absolute;
            z-index: 0;
            transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }
          a {
            display: block;
            width: $top-article-large-list;
            height: $top-article-large-list;
            padding: 40px 20px;
            background: linear-gradient(90deg, rgba(60, 60, 66, 0.8), rgba(60, 60, 66, 0.6));
            overflow: hidden;
            position: absolute;
            z-index: 99;
            @media screen and (max-width: 1024px)  {
              width: 90vw;
              height: 90vw;
            }
            &:after {
              right: 0;
              bottom: 0;
              display: block;
              content: "くわしく見る";
              text-align: center;
              line-height: 66px;
              font-size: 20px;
              font-weight: 700;
              color: #fff;
              width: 180px;
              height: 66px;
              background: $brand-main;
              position: absolute;
              z-index: 99;
            }
            .article-contents-category {
              display: inline-block;
              padding: 5px 10px;
              background: $brand-main;
              color: #fff;
              padding: 5px 10px 5px 43px;
              position: relative;
              &:before {
                content: "";
                width: 24px;
                height: 24px;
                position: absolute;
                left: 12px;
                margin: auto;
                top: 0;
                bottom: 0;
              }
              &.news {
                &:before {
                  background: url('../img/cat-news.svg');
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
              &.notice {
                &:before {
                  background: url('../img/cat-notice.svg');
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
              &.column {
                &:before {
                  background: url('../img/cat-column.svg');
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
            }
            time {
              margin: 0 0 0 7px;
              font-size: 15px;
              color: #fff;
            }
            h4 {
              bottom: 0;
              margin: 105px 0;
              font-size: 30px;
              line-height: 40px;
              color: #fff;
              position: absolute;
            }
          }
        }
      }
    }
  }
  &.contents-before-article {
    i {
      right: 0;
      display: block;
      width: $contents-wrapper-margin;
      height: calc(100% - 172px);
      background: $brand-foundation;
      position: absolute;
      z-index: 1;
    }
    .contents-before-article-contents {
      display: flex;
      margin: auto 0 auto auto;
      padding: 0 0 48px;
      width: 816px;
      background: $brand-foundation;
      @media screen and (max-width: 1024px)  {
        width: 100%;
      }
      h3 {
        margin: 0 -200px;
        padding: 131px 0;
        height: 36px;
        @media screen and (max-width: 1024px)  {
          display: none;
        }
      }
      .contents-before-article-contents-inner {
        margin: 0 0 auto auto;
        width: 700px;
        @media screen and (max-width: 1024px)  {
          width: 100%;
        }
        ul {
          li {
            display: flex;
            margin: 0 0 20px;
            padding: 20px;
            background: #fff;
            @media screen and (max-width: 1024px)  {
              display: block;
            }
            &:hover {
              background: $brand-foundation;
            }
            img {
              width: 260px;
              height: 100%;
              margin: 0 24px 0 0;
              @media screen and (max-width: 1024px)  {
                margin: 0 0 24px;
              }
            }
            .article-contents-text {
              display: block;
            }
            .article-contents-category {
              display: inline-block;
              padding: 5px 10px;
              background: $brand-main;
              color: #fff;
              padding: 5px 10px 5px 43px;
              position: relative;
              &:before {
                content: "";
                width: 24px;
                height: 24px;
                position: absolute;
                left: 12px;
                margin: auto;
                top: 0;
                bottom: 0;
              }
              &.news {
                &:before {
                  background: url('../img/cat-news.svg');
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
              &.notice {
                &:before {
                  background: url('../img/cat-notice.svg');
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
              &.column {
                &:before {
                  background: url('../img/cat-column.svg');
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
            }
            time {
              display: block;
              font-size: 13px;
              color: $brand-accent;
            }
            h4 {
              margin: 10px 0;
              font-size: 20px;
              color: $brand-black;
            }
          }
        }
      }
    }
  }
  &.contents-about {
    background: $brand-accent url(../img/about-background.png) no-repeat center right /contain;
    background-blend-mode: multiply;
    @media screen and (max-width: 1024px)  {
      background: $brand-accent url(../img/about-background.png) no-repeat center right /cover;
    }
    h3 {
      font-size: 24px;
    }
    .contents-wrapper {
      .contents-description {
        padding: 0 85px;
        @media screen and (max-width: 1024px)  {
          padding: 0 25px;
        }
        .contents-description-paragraph {
          margin: 0 0 80px 7px;
          color: #fff;
          @media screen and (max-width: 1024px)  {
            width: auto;
          }
          .contents-description-paragraph-wrapper {
            display: flex;
            @media screen and (max-width: 1024px)  {
              display: block;
            }
            p {
              display: block;
              width: 365px;
              margin: 0 24px 0 0;
              @media screen and (max-width: 1024px)  {
                width: 310px;
                margin: 0 0 12px 0;
              }
            }
          }
        }
        .contents-description-profile {
          margin: 0 48px 0 0;
          @media screen and (max-width: 1024px)  {
            margin: 0 0 48px 0;
          }
          img {
            width: 186px;
          }
          p {
            width: auto!important;
            font-size: 13px;
          }
        }
      }
      .btn-more {
        margin: 0 auto;
        background: #fff;
        color: $brand-main;
      }
    }
  }
  &.contents-contact {
    .contents-col {
      display: flex;
      padding: 90px 0;
      @media screen and (max-width: 1024px)  {
        display: block;
        padding: 20px 0;
      }
      .contents-col-inner {
        margin: 0 75px 0 0;
        @media screen and (max-width: 1024px)  {
          margin: 0 0 70px;
        }
        h3,p {
          @media screen and (max-width: 1024px)  {
            padding: 0 0 0 30px;
          }
        }
        #map {
         width: 625px;
         height: 269px;
         background-color: grey;
         @media screen and (max-width: 1024px)  {
           width: 100%;
         }
        }
      }
    }
  }


  &.page-contents-article {
    margin: 0 0 0;
    position: relative;
    z-index: 999;

    .contents-wrapper {
      display: flex;
      min-height: 100vh;
      @media screen and (max-width: 1024px)  {
        display: block;
      }
      h1 {
        display: block;
        width: 684px;
        margin: 32px 0;
        font-size: 36px;
        line-height: 48px;
        position: relative;
        z-index: 999;
        // text-shadow: 0px -1px 12px rgba(255, 255, 255, 1);
        @media screen and (max-width: 1024px)  {
          width: 100%;
          margin: 19px 0 39px;
        }
      }
      .contents-info-post {
        margin: 76px 70px 0 0;
        width: 176px;
        height: 260px;
        padding: 20px;
        color: $brand-accent;
        background: $brand-foundation;
        @media screen and (max-width: 1024px)  {
          width: 100%;
          margin: 0 70px 0 0;
          height: auto;
        }
        p {
          margin: 0;
          @media screen and (max-width: 1024px)  {
            display: inline-block;
          }
        }
      }
      .contents-paragraph {
        @media screen and (max-width: 1024px)  {
          padding: 30px 30px;
        }
        h1 {
          @media screen and (max-width: 1024px)  {
            font-size: 28px;
          }
        }
        .contents-paragraph-main {
          width: 538px;
          @media screen and (max-width: 1024px)  {
            width: 100%;
            p {
              width: 100%;
            }
            img {
              width: 100%;
              height: 100%;
            }
          }
          .size-medium {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.single-post {
  .contents-top {
    text-align: center;
    background: $brand-foundation;
    img {
      @media screen and (max-width: 1024px)  {
        height: 320px;
      }
    }
  }
  .contents-wrapper {
    padding: 32px 0 60px;
    .contents-paragraph {
      .contents-category {
        display: inline-block;
        padding: 5px 10px;
        line-height: 32px;
        background: $brand-main;
        color: #fff;
        font-weight: 700;
      }
      .p1 {
        opacity: 0.8;
      }
    }
  }
}

.contactform-template-default {
  section.contents-top {
    max-height: 380px;
  }
  input {
    border: none;
    background: $brand-foundation;
  }
}
