html,body {
  width: 100%;
  color: $brand-black;
  li {
    list-style: none;
  }
}

section {
  font-size: 15px;
  overflow: hidden;
  .contents-wrapper:before {
    display: block;
    left: 0;
    content: "";
    width: $contents-wrapper-margin;
    height: 186px;
    background: #f00;
    position: absolute;
  }
  &.contents-colorscheme-transparent .contents-wrapper:before{
    background: transparent;
  }
  &.contents-colorscheme-white .contents-wrapper:before{
    background: $brand-accent;
  }
  &.contents-colorscheme-brand-accent .contents-wrapper:before{
    background: #fff;
  }
  .contents-wrapper {
    margin: 0 auto;
    width: 1024px;
    height: 100%;
    h2 {
      margin: 0;
      height: 186px;
      position: relative;
      &:before {
        bottom: 30px;
        left: -50px;
        display: block;
        content: "";
        width: 98px;
        height: 44px;
        background: $brand-main;
        position: absolute;
      }
      img {
        display: block;
        left: 90px;
        bottom: 30px;
        height: 44px;
        position: absolute;
      }
    }
    .btn-more {
      margin: 0 0 auto auto;
      width: 265px;
      height: 66px;
      font-size: 20px;
      text-align: center;
      font-weight: 700;
      line-height: 66px;
      color: #fff;
      background: $brand-main;
    }
  }
  &.contents-top {
    min-height: 500px;
    position: relative;
    .background-image {
      width: 100%;
      min-width: 1024px;
      position: relative;
      z-index: 0;
    }
    .contents-inner {
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 99;
      .catch-message {
        display: flex;
        bottom: 40px;
        height: 65px;
        background: #fff;
        position: absolute;
        .catch-message-paragraph {
          margin: auto;
          display: block;
          height: 18px;
          margin: 24px;
        }
        .btn-top-message {
          padding: 0 20px;
          line-height: 65px;
          color: #fff;
          background: $brand-main;
          &::after {
            display: block;
            content: "";
            background: url(../img/btn-message-path.svg);
          }
        }
      }
    }
  }
  &.contents-article {
    .article-list {
    padding: 30px 0;
      ul {
        display: flex;
        padding: 0;
        li {
          display: block;
          margin: 0 20px 0 0;
          width: $top-article-large-list;
          height: $top-article-large-list;
          background: #dadada;
          list-style: none;
          position: relative;
          img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
          }
          a {
            display: block;
            width: $top-article-large-list;
            height: $top-article-large-list;
            padding: 30px 20px;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
            text-decoration: none;
            overflow: hidden;
            position: absolute;
            z-index: 99;
            &:after {
              right: 0;
              bottom: 0;
              display: block;
              content: "くわしく見る";
              text-align: center;
              line-height: 66px;
              font-size: 20px;
              font-weight: 700;
              color: #fff;
              width: 180px;
              height: 66px;
              background: $brand-main;
              position: absolute;
              z-index: 99;
            }
            time {
              font-size: 24px;
              color: #fff;
              text-shadow: 0 2px 20px rgba(0,0,0,0.6);
            }
            h4 {
              margin: 125px 0;
              font-size: 30px;
              color: #fff;
              text-shadow: 0 2px 20px rgba(0,0,0,0.6);
            }
          }
        }
      }
    }
  }
  &.contents-before-article {
    i {
      right: 0;
      display: block;
      height: 562px;
      width: $contents-wrapper-margin;
      background: $brand-foundation;
      position: absolute;
      z-index: 1;
    }
    .contents-before-article-contents {
      display: flex;
      margin: auto 0 auto auto;
      width: 816px;
      height: 562px;
      background: $brand-foundation;
      h3 {
        margin: 0 -200px;
        padding: 131px 0;
        height: 36px;
      }
      .contents-before-article-contents-inner {
        margin: 0 0 auto auto;
        width: 700px;
        ul {
          a {
            text-decoration: none;
          }
          li {
            height: 115px;
            margin: 0 0 20px;
            padding: 20px;
            background: #fff;
            &:hover {
              background: #ddd;
            }
            time {
              font-size: 13px;
              color: $brand-accent;
            }
            h4 {
              margin: 10px 0;
              font-size: 20px;
              color: $brand-black;
            }
          }
        }
      }
    }
  }
  &.contents-about {
    background: $brand-accent url(../img/about-background.png) no-repeat center right /contain;
    background-blend-mode: multiply;
    .contents-wrapper {
      .contents-description {
        padding: 0 85px;
        .contents-description-paragraph {
          margin: 80px 0;
          width: 365px;
          color: #fff;
          font-size: 16px;
          line-height: 30px;
        }
      }
      .btn-more {
        margin: 0 auto;
        background: #fff;
        color: $brand-main;
      }
    }
  }
  &.contents-contact {
    .contents-col {
      display: flex;
      padding: 90px 0;
      .contents-col-inner {
        margin: 0 75px 0 0;
        #map {
         width: 625px;
         height: 269px;
         background-color: grey;
        }
      }
    }
  }
}
